html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 90vh;
  max-width: 900px;
  max-height: 700px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid: 2px white;
}

.checkboxes {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content:center
}
label {
  display: block;
}


.box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 300px;
}

.item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--color-just-black);
  width: 200px;
  height: 150px;
  margin: 5px;
  border-radius: 10px;
}

.logo {
  position: absolute;
  width: 60px;
  bottom: 20px;
  right: 30px;
}

.purple {
  background-color: rgb(125, 70, 150);
}

@media screen and (max-width: 300px) {
  .tag-button {
    width: 100%
  }
}

.tag-button {
  align-items: center;
  border: 1.5px solid var(--color-surface-white);
  border-radius: 99px;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  font-size: 13px;
  gap: 8px;
  justify-content: center;
  margin: 5px;
  max-width: 130px;
  padding: 0.3rem 2rem;
  position: relative;
  white-space: nowrap;
}

.tag-button input {
  opacity: 0;
  position: absolute;
}

.tag-button .checked {
  opacity: 0;
  border: 1.5px solid var(--color-surface-white);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-surface-white);
  border-radius: 99px;
  color: var(--color-just-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-button input:checked + .checked {
  opacity: 1;
}

.tag-button input:checked {
}
